@using Entity.Concrete;
@model IEnumerable<Category>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Kategori Listesi</h2>
        <p>Kategori Listesini çekiyoruz...</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kategori Adı</th>
                    <th>Açıklama</th>
                    <th>Oluşturma Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CategoryDescription</td>
                        <td>@item.CategoryCreateDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
